#search-delete{
    border: solid 1px gray;
}

.nav-icon-delete{
    margin-right: 3rem;
}

#hamburger-delete{
    background-color: hotpink;
}

.nav-routes-delete{
    margin-right: 3rem;
}

#nav-delete{
    display: flex;
    width: 100%;
    height: 3rem;
    background-color: cadetblue;
}

.nav-items{
    display: flex;
}