@import './Variables.scss';

.featured-card-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $featured-card-body-height;

    background-color: $secndary-background-color;;
}

.card{ //there's one at the bottom of the sheet
    text-decoration: none;

    &:hover{
        color:white;
    }
}

.buy-group{
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
}

.strikethrough-price{
    text-decoration: line-through;
    margin-bottom: 0;
}

.actual-price{
    margin-bottom: 0;
}

.featured-card-header-image{
    //width: 100%;

}

//override
.card{
    border: none;
    background-color: $secndary-background-color;
    color: white;
    //min-width: 360px;
}
