.featured-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    //width: 360px;

}

.buy-group{
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
}

.strikethrough-price{
    text-decoration: line-through;
}

.featured-card-header-image{
    width: 360px;
}