@import './Variables.scss';

#main-nav-bar{
    display: flex;
    width: 100%;
    height: $main-navbar-height;
    background-color:darkorange;
}

.nav-items{
    display: flex;
    //justify-content: end;
}

.logo{
    justify-self: center;
}