@import './Variables.scss';

.main-nav-anchor{
    display: flex;
    align-items: center;
}

.main-nav-icon{
    height: $main-navbar-height * $main-navbar-icon-height-multiplier;
    justify-self: end;
}

