@import './Variables.scss';

.navbar-wrapper{
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    position: fixed; // absolute/fixed positioning messes with flex-box
    min-width: 200px;
    width: 15%;//$sidebar-width;
    height: 100vh;
    top: 0;
    background-color: gray;
}

.left{
    left: 0;
}
.right{
    right: 0;
}

.logo-wrapper, .searchbar-wrapper, .vertical-link-container-wrapper{
    display: flex;
    justify-content: center;
}
.vertical-link-container{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.nav-divider{
    border: 1px solid white;
}
