@import './Variables.scss';

.navbar-wrapper{
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    position: fixed; // absolute/fixed positioning messes with flex-box
    min-width: $sidebar-min-width;
    width: $sidebar-width;
    height: 100vh;
    top: 0;
    background-color: $nav-etc-background-color
}

.left{
    left: 0;
}
.right{
    right: 0;
}
.searchbar-wrapper{
    margin-top: 20px;
}
.lower-buttons-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    height: 60%; //this isn't 60% of the screen and if the height is low enough the buttons will be cut off
    padding: 10%;
    gap: 10px;
}
.logo-wrapper, .searchbar-wrapper, .vertical-link-container-wrapper{
    display: flex;
    justify-content: center;
}
.vertical-link-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
}
.nav-divider{
    border: 1px solid $sidebar-text-color;
    margin: 10px 0;
}

.nav-link, .navigation-dropdown a { //mind the a
    color: $sidebar-text-color;
}
.nav-link:hover, .navigation-dropdown a:hover { //mind the a
    color: white;
}
.navigation-dropdown-item{
    color: $sidebar-text-color;
}
