@import './Variables.scss';

.standard-button{
    width: 100%;
    border: none;
    border-radius: $standard-border-radius;
}
.sign-in-color{
    background-color: white;
    color: $sidebar-text-color;
}
.sign-up-color{
    background-color: $main-cta-color;
    color: white;    
}