/////////////////$main-scrollable-container-width: auto;
//$main-navbar-height: 3rem;
//$main-navbar-icon-height-multiplier: 0.8;
$sidebar-width: 300px;

$main-background-color: white;
$secndary-background-color: rgb(100, 100, 100); //Secondary not secndary
$nav-etc-background-color: rgb(140, 140, 140);
$darker-background-color: rgb(45, 45, 45);
$nav-items-lateral-margin: 1rem;
$featured-card-body-height: 3rem;
$standard-text-color: white;