$main-navbar-height: 3rem;
$main-navbar-icon-height-multiplier: 0.8;
$main-background-color: rgb(70, 70, 70);
$secndary-background-color: rgb(100, 100, 100);
$nav-etc-background-color: rgb(140, 140, 140);
$darker-background-color: rgb(45, 45, 45);
$nav-items-lateral-margin: 1rem;
$featured-card-body-height: 3rem;
$standard-text-color: white;